/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-grey {
  background-color: #c1c5d0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 1126px;
  display: flex;
}



.ticket-scrolling {
  height: 300px;
  overflow: auto;
  /* background-color: brown; */
/* } */

/* .ticket-icon {
  width: 45px;
} */

@media (max-width: 767.98px) {
  .rotate-seat {
    transform: none;
  }
}
.rotate-seat {
  transform: rotate(-45deg);
}
.ticket-scrolling {
  height: 300px;
  overflow: auto;
}
